<!-- templates/learningpath.html -->
{% extends 'base.html' %}

{% block title %}Course{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/course.js') }}"></script>
<link href="{{ url_for('static', filename='css/course.css') }}" rel="stylesheet">
<aside class="sidebar">
    <script>
        var courseTitle = '{{course_title}}';
    </script>
    <!-- Content for the aside element (sidebar) -->
    <h3>History</h3>
    <h4 class="sd-header">Learning Paths</h4>
    {% if lessons %}
        {% for lesson in lessons %}
            <p class="generate-lesson-content" data-lesson-title="{{ lesson.title }}" data-lesson-id="{{ lesson.id }}">
                {{lesson.title}}
            </p>
        {% endfor %}
    
    {% else %}
        <p>No lessons available.</p>
    {% endif %}
</aside>
<div class="main-content">
    <!-- Content for the main div next to the aside -->
    <h3 class="lesson-title" style="color: #0097b2;"></h3>
    <p class="content-area"></p>

</div>
<div class="chat-widget">
    <div class="chat-widget-header">
        <h3>Chat</h3>
    </div>
    <div class="chat-widget-body">
    </div>
    <div class="chat-widget-input">
        <input type="text" placeholder="Type your message...">
        <button class="send-chat">Send</button>
    </div>
</div>

{% endblock %}
