<!-- templates/learningpath.html -->
{% extends 'base.html' %}

{% block title %}Learning Path{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/learningpath.js') }}"></script>
<link href="{{ url_for('static', filename='css/learningpath.css') }}" rel="stylesheet">
<div class="row" style="padding: 30px;">
    {% for course in courses %}
    <div class="col-lg-6 col-md-6 col-sm-12 mb-4" style="height: 300px;">
        <div class="card bg-light" style="height: 100%;">
            <div class="card-body">
                <h5 class="card-title"><span style="color: #0097b2; font-size: 32px;">Course {{ loop.index }}:</span> {{ course.title }}</h5>
                <button class="btn btn-primary generate-lessons" data-course-title="{{ course.title }}" data-course-id="{{ course.id }}">Start Learning</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
