.generate-lesson-content {
    border: 2px solid #0097b2;
    padding: 5px;
    cursor: pointer;
    transition: border-color, background-color 0.2s ease;
}

.generate-lesson-content:hover {
    background-color: #0097b2;
    color: #fff;
}

.chat-bubble {
    min-width: 80px;
    background-color: #ccc;
    padding: 16px 28px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
}

p.chat-bubble {
    margin: 0;
}

.chat-bubble.human {
    border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
}

.chat-bubble:not(.human) {
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
}

.typing {
    align-items: center;
    display: flex;
    height: 17px;
}

.typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #0097b2;
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
}

.typing .dot:nth-child(1) {
    animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
    animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
    animation-delay: 400ms;
}

.typing .dot:last-child {
    margin-right: 0;
}

.lessons-container {
    margin: 0 30px;
}

.generate-lesson-content {
    position: relative; /* Make position relative to enable absolute positioning of ::before */
}

/* Define ::before pseudo-element to display checkmark icon */
.completed::before {
    content: "\2713"; /* Unicode for checkmark (✓) */
    position: absolute; /* Position the ::before content absolutely within the lesson title */
    left: -30px; /* Position the ::before content at the start of the lesson title */
    top: -10px; /* Align the ::before content vertically centered */
    color: #0097b2; /* Color of the checkmark icon */
    font-size: 32px; /* Font size of the checkmark icon */
}

@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
        background-color: #0097b2;
    }

    28% {
        transform: translateY(-7px);
        background-color: #fff;
    }

    44% {
        transform: translateY(0px);
        background-color: #0097b2;
    }

}