<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

<!-- <section class="content-container"> -->
    <aside class="sidebar">
        <!-- Content for the aside element (sidebar) -->
        <h3>History</h3>
        <h4 class="sd-header">Learning Paths</h4>
        {% if learning_paths %}
            {% for path in learning_paths %}
                <p>
                    <a href="{{ url_for('learningpath', path_id=path.id) }}">{{ path.title }}</a>
                </p>
            {% endfor %}
        
        {% else %}
            <p>No learning paths available.</p>
        {% endif %}

        <!-- <h4 class="sd-header">Courses</h4>
        {% if courses %}
            {% for course in courses %}
                <p>
                    <a href="{{ url_for('course', course_id=course.id) }}">{{ course.title }}</a>
                </p>
            {% endfor %}
        
        {% else %}
            <p>No courses available.</p>
        {% endif %} -->
    </aside>
    <div class="main-content">
        <!-- Content for the main div next to the aside -->
        <h1>Welcome Mr <span style="color: #0097b2;">{{ name }}</span></h1>
        <div class="qa-card-holder">
            <div class="qa-card">
                <div class="qa-generate-header">
                    <div>
                        <img src="{{ url_for('static', filename='images/logo.svg') }}">
                    </div>
                    <p>Empowering my learning approach and upskilling my capabilities.</p>
                </div>
                <div class="qa-generate-container">
                    <h6>Choose what and how you want to learn:</h6>
                    <div class="input-wrapper">
                        <input type="text" class="styled-input" id="searchInput" placeholder="ex: Intro to GenAI">
                    </div>
                    <div class="buttons">
                        <!-- <button class="styled-button" id="courseButton" disabled>Course</button> -->
                        <button class="styled-button" id="pathButton" disabled>Create learning path</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </section> -->
{% endblock %}